version: '3.8'

services:
  gateway-api:
    build: ./gateway-api
    container_name: gateway_container
    ports:
      - "8002:8002"
    depends_on:
      - rabbitmq
      - database
      - yolo-service
      - bitnet-service
    environment:
      - FIREBASE_CREDENTIALS=/app/firebase/serviceAccountKey.json
    volumes:
      - ./gateway-api/app:/app/app
      - ./firebase:/app/firebase

  yolo-service:
    build: ./yolo-service
    container_name: yolo_container
    ports:
      - "8000:8000"
    volumes:
      - ./yolo-service/app:/app/app

  bitnet-service:
    build: ./bitnet-service
    container_name: llm_container
    ports:
      - "8001:8001"
    volumes:
      - ./bitnet-service/app:/app/app

  worker-service:
    build: ./worker-service
    container_name: worker_container
    depends_on:
      - rabbitmq
      - yolo-service
      - bitnet-service
      - gateway-api
    volumes:
      - ./worker-service/app:/app/app
      - ./firebase:/app/firebase
    environment:
      - FIREBASE_CREDENTIALS=/app/firebase/serviceAccountKey.json

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_container
    ports:
      - "5672:5672"
      - "15672:15672"   # management UI
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=pass

  database:
    image: postgres:15
    container_name: postgres_container
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB=deep_symbol
      POSTGRES_USER=admin
      POSTGRES_PASSWORD=admin123
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
