version: '3.8'

services:

  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbit vm_memory_high_watermark 0.9"
      RABBITMQ_DISK_FREE_LIMIT: "2GB"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network


  gateway-api:
   build: ./gateway-api
   restart: always
   ports:
    - "8080:8080"
   volumes:
     - ./gateway-api/app:/app/app
     - ./gateway-api/serviceAccountKey.json:/app/serviceAccountKey.json
   depends_on:
     - rabbitmq
     - yolo-service
     - bitnet-service
   healthcheck:
     test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
     interval: 10s
     timeout: 5s
     retries: 5
   networks:
     - app-network


  worker-service:
   build: ./worker-service
   restart: always
   volumes:
     - ./worker-service/app:/app/app
     - ./gateway-api/serviceAccountKey.json:/app/serviceAccountKey.json
   depends_on:
     - rabbitmq
     - yolo-service
     - bitnet-service
   healthcheck:
     test: ["CMD", "echo", "ok"]
     interval: 30s
     timeout: 5s
     retries: 3
   networks:
     - app-network


  yolo-service:
   build: ./yolo-service
   restart: always
   volumes:
     - ./yolo-service/app:/app/app
   ports:
     - "8000:8000"
   healthcheck:
     test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
     interval: 10s
     timeout: 5s
     retries: 5
   networks:
     - app-network


  bitnet-service:
   build: ./bitnet-service
   restart: always
   volumes:
     - ./bitnet-service/app:/app/app
   ports:
     - "8001:8001"
   networks:
     - app-network


  frontend:
   build: ./frontend
   ports:
     - "3000:80"
   restart: always


networks:
  app-network:
    driver: bridge

