ultralytics
opencv-python
pillow

transformers
huggingface-hub
tokenizers
accelerate

fastapi
uvicorn
python-multipart
httpx

firebase-admin
pika

prometheus-client
prometheus-fastapi-instrumentator

pytest==8.3.4


