global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "deepsymbol-api"
    scheme: https
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["api:8000"]

